@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    font-family: "Proxima Nova";
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
         url("fonts/ProximaNova-Light.woff2") format("woff2"),
         url("fonts/ProximaNova-Light.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-family: "Proxima Nova";
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
         url("fonts/ProximaNova-Regular.woff2") format("woff2"),
         url("fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-family: "Proxima Nova";
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
         url("fonts/ProximaNova-Bold.woff2") format("woff2"),
         url("fonts/ProximaNova-Bold.woff") format("woff");
}
