html {
    box-sizing: border-box;
}

html *,
html ::after,
html ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Proxima Nova", Tahoma, sans-serif;
    color: #000;
    word-wrap: break-word;
    background-color: #fff;
}

a {
    text-decoration: none;

    &[href] {
        cursor: pointer;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

picture {
    display: block;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 16px 20px;
    font-family: inherit;
    color: $color-main;
    background-color: #fff;
    border: none;
    border-radius: 0;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        outline: none;
    }

    &:focus {
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }

    &.error {
        background-color: $color-warning-bg;

        &:focus {
            box-shadow: 0 0 10px $color-warning-bg;
        }
    }
}

textarea {
    resize: none;
}

::placeholder {
    color: #8A8A8A;
}

h2, h3 {
    text-transform: uppercase;
}

.heading-2 {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    width: 100%;

    &--left {
        display: flex;
        align-items: center;

        &::after {
            content: "";
            display: block;
            border-top: 1px solid #B0B0B0;
            margin-left: 30px;
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    &--central {
        overflow: hidden;
        text-align: center;

        &::before,
        &::after {
            content: "";
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            height: 1px;
            background-color: #B0B0B0;
        }

        &::before {
            right: 1em;
            margin-left: -50%;
        }

        &::after {
            left: 1em;
            margin-right: -50%;
        }
    }
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1120px;

        .map & {
            max-width: 1090px;
        }
    }
}
