// Colors
$color-main--lightest:        #E3E3E8;
$color-main--light:           #8D98AD;
$color-main:                  #1B305A;
//$color-main--dark:          #39BA11;
//$color-main--darken:        #329F11;
//$color-main--darkest:       #184B09;

$color-secondary--light:      #58c4ec;
$color-secondary:             #41A8CE;
$color-secondary--dark:       #2E7792;
$color-warning:               #fb5258;
$color-warning-bg:            #f3b2b2;
