.about-page {
    padding-top: 70px;
}

.about-page__content {

}

.about-page__content .about-title {
    margin-top: 70px;
    margin-bottom: 15px;
}

.about-page__triggers {
    margin-top: 70px;
}