.about {
    padding-top: 110px;
}

.about__title {
    margin-top: 0;
    margin-bottom: 40px;
}

.about__triggers {
    margin: 0 0 40px 0;
}

.about__text {
    margin-bottom: 45px;
    font-weight: 300;
    column-count: 2;
    column-gap: 30px;
}

.about__text h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}

.about__text h3 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
}

.about__text p,
.about__text ul {
    margin: 14px 0;
}

.about__text *:first-child {
    margin-top: 0;
}

.about__text *:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .about__text {
        column-count: 1;
    }
}
