.about-title {
    width: 535px;
    padding: 11px 15px;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    &--bg-color-main {
        background-color: $color-main;
    }

    &--bg-color-secondary {
        background-color: $color-secondary;
    }

    &--bg-color-dark {
        background-color: #1F2122;
    }
}