.awards {
    //padding-top: 65px;
    padding-bottom: 60px;
    overflow: hidden;
}

.awards__title {
    width: 535px;
    margin: 0 auto -15px;
    padding: 11px 15px;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: $color-main;
}

.awards__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //margin: 0 -20px;
    margin: 0;
    padding: 20px 0;
    box-shadow: 0 3px 16px rgba(0, 0, 0, .16);
}

.awards__item {
    width: 170px;
    margin: 35px 20px;
}

.awards__img-box {
    //height: 135px;
    margin-top: 0;
    margin-bottom: 20px;
}

.awards__img {
    width: 135px;
    height: 135px;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: contain;
}

.awards__text {
    margin: 0;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
