.button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 12px 15px;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    color: #fff;
    background-color: $color-secondary;
    border: none;
    cursor: pointer;
    transition: all .15s ease-in;

    &:hover {
        background-color: $color-secondary--light;
    }

    &--type-second {
        background-color: #353B47;

        &:hover,
        &:focus {
            background-color: #4f5662;
        }
    }
}
