.category {
    position: relative;
    display: flex;
    align-items: center;
    width: 530px;
    min-height: 190px;
    padding: 20px 15px 20px;
    background: url("img/bg/wall.jpg") repeat;
    background-size: contain;
    border-top: 12px solid $color-main;
    transition: all .15s ease-in;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        margin-top: auto;
        margin-left: auto;
        background-color: $color-secondary;
        background-image: url("img/bg/arrow-right.svg");
        background-repeat: no-repeat;
        background-position: center;
        transition: all .15s ease-in;
    }

    &:hover,
    &:focus {
        box-shadow: 2px  2px 10px rgba(0, 0, 0, .35);
    }

    &:hover::after,
    &:focus::after {
        background-position: 70% center;
    }
}

.category__img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 215px;
    height: 138px;
    margin: 0 25px 0 0;

    &::after {
        content: "";
        position: absolute;
        left: -15px;
        bottom: 0;
        //width: 259px;
        //height: 68px;
        width: 210px;
        height: 70px;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 25px;
        filter: blur(34px);
        transform: rotate(-25deg);
        opacity: .5;
        //opacity: 1;

        .category--no-shadow & {
            display: none;
        }
    }
}

.category__img {
    position: relative;
    z-index: 1;
    max-height: 100%;
}

.category__right {
    flex-grow: 1;
    margin-bottom: 30px;
}

.category__name {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4375em;
    text-transform: uppercase;
    color: #000;
}

@media screen and (max-width: 1200px) {
    .category__img-box {
        width: 150px;
    }

    .category {
        width: 450px;
    }
}

@media screen and (max-width: 992px) {
    .category {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .category {
        display: block;
    }

    .category__img-box {
        width: 215px;
        margin: 0 auto 15px;
    }

    .category__right {
        margin-bottom: 35px;
    }

    .category__name {
        display: block;
        text-align: center;
    }
}