.category-slider {
    display: flex;
    flex-wrap: wrap;
}

.category-slider__item {
    margin-right: 15px;
    //padding: 20px 0;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-child(n + 4) {
        margin-top: 15px;
    }
}

.category-slider__link {
    position: relative;
    display: flex;
    width: 353px;
    height: 190px;
    overflow: hidden;
    //padding: 15px;
    align-items: center;
    justify-content: flex-end;
    min-height: 170px;
    text-align: right;
    font-size: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all .3s ease-out;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(27, 48, 90, .5);
        pointer-events: none;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: 0 0 8px rgba(27, 48, 90, 1);

        & .category-slider__img {
            transform: scale(1.1) rotate(3deg);
        }
    }
}

.category-slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: opacity, transform, filter;
}

.category-slider__name {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
}

.category-slider__arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 15px;
    border: none;
    background: 0 0;
    cursor: pointer;
    opacity: .5;
    transition: all .2s ease-in;
    transform: translate(0, -50%);

    &--prev {
        left: -80px;

        &:hover {
            transform: translate(-10px, -50%);
        }
    }

    &--next {
        right: -80px;

        &:hover {
            transform: translate(10px, -50%);
        }
    }

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}

.category-slider .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    display: flex;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 0);
}

.category-slider .slick-dots li {
    margin-right: 10px;
}

.category-slider .slick-dots button {
    display: block;
    width: 13px;
    height: 13px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: none;
    background-color: $color-main--lightest;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.category-slider .slick-active button {
    background-color: $color-main;
}
