.categories {
    padding-top: 70px;
}

.categories__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
}

.categories__item {
    display: flex;
    width: 530px;
    margin-right: 30px;

    &:nth-child(2n) {
        margin-right: 0;
    }

    &:nth-child(n + 3) {
        margin-top: 50px;
    }

    &--title {
        justify-content: center;
        font-size: 48px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #494545;
        background: url("img/bg/categories-item-title.svg") no-repeat center;
        background-size: cover;
    }
}

@media screen and (max-width: 1200px) {
    .categories__item {
        width: 450px;
    }
}

@media screen and (max-width: 992px) {
    .categories__item {
        width: 100%;
        margin-right: 0;

        &:nth-child(n + 2) {
            margin-top: 30px;
        }
    }
}
