.color-options-box {

}

.color-options-box__informer {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.25em;
    text-align: right;
}

.color-options-box__body {
    display: flex;
    align-items: flex-start;
}

.color-options-box__pictures {
    margin: 0 24px 0 0;
}

.color-options-box__colors {

}