.color-list {
    margin: -12px -12px -12px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &--in-row-3 {
        width: 552px;
    }

    &--in-row-2 {
        width: 368px;
    }
}

.color-list__item {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 12px;
}

.color-list__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.color-list__name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 15px 15px 16px 24px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.25em;
    text-transform: uppercase;
    color: #fff;
}