.color-pictures {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    padding: 0;
    list-style: none;
}

.color-pictures__item {
    position: relative;
    width: 354px;
    height: 344px;
    overflow: hidden;

    .color-pictures--one-wide & {
        width: 538px;
    }

    .color-pictures--one-and-a-half & {

        &:nth-child(1) {
            margin-right: 24px;
        }

        &:nth-child(2) {
            width: 160px;
            height: 344px;
        }
    }

    .color-pictures--in-row-2 & {

        &:nth-child(1) {
            margin-right: 24px;
        }

        &:nth-child(2) {
            width: 344px;
            height: 344px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5) url("img/bg/magnifying-glass.svg") no-repeat center;
        background-size: 30px 30px;
        opacity: 0;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        transition-property: opacity, transform, filter;
        pointer-events: none;
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover .color-pictures__img {
        transform: scale(1.1) rotate(3deg);
    }
}

.color-pictures__link {
    display: block;
    height: 100%;
}

.color-pictures__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: opacity, transform, filter;
}