.contacts-box {
    position: relative;
    z-index: 1;
    margin-top: -60px;
    padding-bottom: 45px;
}

.contacts-box__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    //padding: 10px 30px;
    background-color: #fff;
    //border-top: 2px solid $color-secondary;
    //pointer-events: all;
    box-shadow: 0px -7px 16px rgba(0, 0, 0, .16);
}

.contacts-box__info {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex-shrink: 0;
    width: 325px;
    //margin: 0 30px 0 0;
    margin: 0;
    padding: 15px 30px;
    font-size: 12px;
    line-height: 1.25;
    color: #fff;
    background-color: $color-secondary;

    &::before {
        content: "";
        flex-shrink: 0;
        display: block;
        width: 62px;
        height: 35px;
        margin-right: 15px;
        background: url("img/base/logo-white.svg") no-repeat 0 0;
        background-size: contain;
    }
}

.contacts-box__list {
    flex-grow: 1;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .contacts-box {
        position: static;
        order: 2;
        padding: 30px 0;
        border-top: 2px solid #41A8CE;
        pointer-events: all;
    }

    .contacts-box__body {
        display: block;
        padding: 0;
        border: none;
    }

    .contacts-box__info {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
}