.content {
    font-weight: 300;
}

.content h2 {
    margin-top: 40px;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 22px;
}

.content h3 {
    margin-top: 34px;
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 17px;
}

.content p,
.content ul:not([class]) {
    margin: 14px 0;
}

.content ul:not([class]) {
    list-style: none;
    padding: 0;
}

.content ul:not([class]) li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 20px;
        width: 7px;
        height: 7px;
        background-color: $color-secondary;
    }
}

.content strong {
    font-weight: 700;
    color: $color-secondary;
}

.content a {
    color: $color-secondary;
    border-bottom: 1px solid $color-secondary;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        border-color: transparent;
    }
}

.content figure {
    //margin-left: 30px;
}

.content div:first-child + p,
.content figure:first-child + p,
.content img:first-child + p {
    margin-top: 0;
}

.content *:first-child {
    margin-top: 0;
}

.content *:last-child {
    margin-bottom: 0;
}

