.contacts-list {
    display: flex;
    align-items: center;
    //justify-content: center;
    justify-content: space-around;
    padding: 45px 30px;
    list-style: none;
}

.contacts-list__item {
    position: relative;
    //margin-right: 50px;
    padding-left: 35px;

    &:last-child {
        margin-right: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &--phone {
        //display: flex;
        //flex-wrap: wrap;
        //margin-left: auto;

        &::before {
            background-image: url("img/bg/phone.svg");
        }
    }

    &--email {
        //margin-left: auto;

        &::before {
            background-image: url("img/bg/email.svg");
        }
    }

    &:hover::before {
        animation: .6s shake-custom;
    }
}

.contacts-list__link {
    display: block;
    color: #000;
    transition: all .15s ease-in;

    &--phone {
        //margin-right: 15px;
        font-weight: 700;
        font-size: 19px;

        &:last-child {
            margin-right: 0;
        }
    }

    &--email {

    }

    &:hover,
    &:focus {
        color: $color-secondary;
    }
}

@media screen and (max-width: 992px) {
    .contacts-list__item {

        &--phone {
            margin-left: 0;
        }

        &--email {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .contacts-list {
        display: block;
    }

    .contacts-list__item {
        margin-right: 0;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        &--email {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .contacts-list__link {

        &--email {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
