.design-list ul:not([class]) {
    list-style: none;
    padding: 0;
}

.design-list ul:not([class]) li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 20px;
        width: 7px;
        height: 7px;
        background-color: $color-secondary;
    }
}
