.description-styling-examples {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.description-styling-examples-box__item {
    display: flex;
    width: calc(50% - 35px);
    margin-right: 70px;

    &:nth-child(2n) {
        margin-right: 0;
    }

    &:nth-child(n + 3) {
        margin-top: 40px;
    }
}

.description-styling-examples-box__number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 85px;
    height: 85px;
    margin-right: 22px;
    padding: 10px;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #fff;
    background-color: $color-main;
}
