.feedback {
    display: flex;
    align-items: center;
    min-height: 240px;
    padding: 30px 0;
    color: #fff;
    background: #383e4a url("img/bg/feedback.jpg") no-repeat center;
    background-size: cover;

    &--index {
        //margin-top: 50px;
    }
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback__head {
    width: 310px;
    margin-right: 30px;
}

.feedback__head strong {
    display: block;
    font-weight: 700;
    font-size: 29px;
}

.feedback__head p {
    margin: 0;
    color: #ADAFB4;
}

.feedback__form {
    flex-shrink: 0;
    margin: 0;
}