.files {

    &--on-page {
        padding: 70px 0;
    }
}

.files__list {
    @include reset-list;

    display: flex;

    .files--on-page & {
        display: block;
    }
}

.files__item {
    position: relative;
    width: 50%;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 20px;
        z-index: 1;
        width: 148px;
        height: 148px;
        background-color: $color-secondary;
        border-radius: 50%;
        pointer-events: none;
        filter: blur(50px);
        transform: translate(0, -50%);
        transition: all .15s ease-in;
        opacity: 0;
    }

    &:hover::before,
    &:focus-within::before {
        opacity: 1;
    }

    .files--on-page & {
        width: 100%;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.files__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 105px;
    padding: 15px 40px 15px 60px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 8px 41px rgba(0, 0, 0, .16);
    overflow: hidden;
    transition: all .15s ease-in;

    &::before {
        content: "";
        position: relative;
        z-index: 2;
        display: block;
        width: 62px;
        height: 62px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .files__item:nth-child(1) & {
        background-color: $color-secondary--dark;

        &::before {
            background-image: url("img/bg/files-icon-1.svg");
        }

        .files--on-page & {
            background: $color-secondary--dark url("img/bg/download-price-1.jpg") no-repeat center;
            background-size: cover;
        }
    }

    .files__item:nth-child(2) & {
        background-color: $color-secondary;

        &::before {
            background-image: url("img/bg/files-icon-2.svg");
        }

        .files--on-page & {
            background: $color-secondary--dark url("img/bg/download-price-2.jpg") no-repeat center;
            background-size: cover;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: -40px;
        left: -90px;
        width: 328px;
        height: 183px;
        background: url("img/base/logo-white.svg") no-repeat 0 0;
        background-size: contain;
        opacity: .07;
        pointer-events: none;
    }

    &:hover span::after,
    &:focus span::after {
        opacity: 0;
        transform: scaleX(0);
    }

    .files--on-page & {
        justify-content: flex-start;
        padding-top: 45px;
        padding-bottom: 45px;

        &::before {
            margin-right: 60px;
        }
    }

    .files--on-page .files__item:nth-child(2) &::before {
        margin-right: 54px;
    }
}

.files__link span {
    position: relative;
    z-index: 2;
    
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        opacity: 1;
        transition: transform .15s ease-in,
                    opacity .2s ease-in;
        transform: scaleX(1);
    }
}

@media screen and (max-width: 1200px) {
    .files__link {
        justify-content: flex-start;
        padding-right: 30px;

        &::before {
            margin-right: 30px;
        }
    }
}

@media screen and (max-width: 992px) {
    .files__link {
        padding-left: 50px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .files__list {
        display: block;
    }

    .files__item {
        width: 100%;
    }

    .files__link {
        padding-left: 100px;
    }
}

@media screen and (max-width: 576px) {
    .files__link {
        padding-left: 25px;

        &::before {
            width: 45px;
            height: 45px;
            margin-right: 20px;
        }
    }
}