.form {
    display: flex;
}

.form__list {
    @include reset-list;

    display: flex;
    margin: 0 30px 0 0;
}

.form__item {
    display: flex;
    width: 230px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.form__field {

}

.form__button {
    min-width: 170px;
}