.gallery-product-description {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    column-span: all;
}

.gallery-product-description__item {
    width: calc(50% - 8px);
    margin-right: 15px;

    &:nth-child(2n) {
        margin-right: 0;
    }

    &:nth-child(n + 3) {
        margin-top: 15px;
    }
}

.gallery-product-description__img {
   object-fit: cover;
}
