.gallery {
    padding: 110px 0;
}

.gallery__title {
    margin-bottom: 20px;
    margin-top: 0;
}

.gallery__custom-scrollbar {
    max-height: 600px;
    overflow-y: auto;
}

/* theme: "dark" */

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(65, 168, 206, 0.15);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(65, 168, 206, 0.75);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba(65, 168, 206, 0.85);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba(65, 168, 206, 0.9);
}
