.head-product-card {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #fff;
    background-color: $color-main;
}

.head-product-card__number {
    flex-shrink: 0;
    width: 100px;
    margin-right: 40px;
    padding-right: 15px;
    font-weight: 700;
    font-size: 59px;
    line-height: .8;
    text-align: center;
    border-right: 1px solid #fff;
}

.head-product-card__info {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.head-product-card__category-name {
    flex-shrink: 0;
    width: 195px;
    margin: 0 40px 0 0;
    line-height: 1.15;
    text-transform: uppercase;
}

.head-product-card__product-name {
    flex-grow: 1;
    margin: 0;
    font-size: 23px;
    line-height: 1.15;
    text-transform: uppercase;
}