.info-window {
    width: 210px;
}

.info-window img {
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
    object-fit: cover;
}

.info-window strong {
    display: block;
    font-weight: 700;
}

.info-window p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 12px;
}

.info-window a {
    font-weight: 700;
    font-size: 12px;
    color: $color-secondary;
    transition: all .15s ease-in;
    
    &:hover,
    &:focus {
        color: #000;
    }
}