.intro-offer-home {
    display: flex;
    width: 100vw;
    height: 200px;
    color: #fff;
    background-color: #16171A;
}

.intro-offer-home__box {
    position: relative;
    display: flex;
    align-items: center;
    width: 545px;
    padding: 30px 0 30px 75px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 8px;
        width: 264px;
        height: 147px;
        background: url("img/base/logo-white.svg") no-repeat center;
        background-size: contain;
        opacity: .08;
        pointer-events: none;
        transform: translate(0, -50%);
    }

    &::after {
        content: "";
        position: absolute;
        top: 55px;
        right: -90px;
        width: 35px;
        height: 30px;
        background: url("img/bg/quotes.svg") no-repeat center;
        background-size: contain;
    }
}

.intro-offer-home__title {
    flex-shrink: 0;
    width: 190px;
    margin: 0 60px 0 0;
    font-weight: 700;
    text-transform: uppercase;
}

.intro-offer-home__text {
    margin: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, .75);
}

@media screen and (max-width: 1200px) {
    .intro-offer-home {
        display: none;
    }
}