.language-switch {
    display: flex;
    padding: 0;
    list-style: none;
}

.language-switch li {
    display: flex;
}

.language-switch a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-weight: 700;
    //font-family: "Product Sans", Tahoma, sans-serif;
    color: #000;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        color: $color-secondary;
    }
}

.language-switch li:last-child a {
    padding-right: 0;
}

.language-switch .current-lang a {
    color: $color-secondary;
}