.main-header {
    position: relative;
    box-shadow: 0 3px 22px rgba(0, 0, 0, .16);
}

.main-header__top {
    padding-top: 32px;
    padding-bottom: 27px;
    //font-family: "Product Sans", Tahoma, sans-serif;
    color: #fff;
    background-color: $color-main;
}

.main-header__top .container {
    display: flex;
    align-items: center;
}

.main-header__left {
    display: flex;
    flex-shrink: 0;
    margin-right: 55px;
}

.main-header__logo {
    display: block;
    margin-right: 27px;
}

.main-header__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 138px;
    line-height: 1.3571em;
}

.main-header__desc strong {
    font-weight: 700;
}

.main-header__desc p {
    margin: 0;
    font-weight: 400;
}

.main-header__search {
    flex-shrink: 0;
    margin-right: 55px;
}

.main-header__right {
    margin-left: auto;
    text-align: right;
}

.main-header__right span {
    display: block;
    margin-bottom: 2px;
    color: $color-main--light;
}

.main-header__right a {
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        color: $color-main--light;
    }
}

.main-header__bottom {

}

.main-header__bottom-wr {
        background-color: #fff;

    &--sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        box-shadow: 0 -2px 12px rgba(0, 0, 0, .3);
    }
}

.main-header__bottom-nav {
    display: flex;
    align-items: center;
}

.main-header__bottom-search {
    display: none;
    padding-bottom: 10px;
}

/***** Hamburger styles *****/
:root {
    // default
    //--mb-button-size: 60px;
    //--mb-bar-width: 0.6;
    //--mb-bar-height: 4px;
    //--mb-bar-spacing: 10px;
    //--mb-animate-timeout: 0.4s

    --mb-button-size: 50px;
    --mb-bar-width: 0.6;
    --mb-bar-height: 2px;
    --mb-bar-spacing: 10px;
    --mb-animate-timeout: 0.1s;
}

.main-header__hamburger {
    position: relative;
    display: none;
    box-sizing: border-box;
    height: var(--mb-button-size);
    padding: 0 0 0 var(--mb-button-size);
    color: #000;
    border: none;
    border-radius: 0;
    background: 0 0;
    line-height: var(--mb-button-size);
    vertical-align: middle;
    appearance: none;
    outline: 0;
    cursor: pointer;
    user-select: none;
}

.main-header__hamburger b {
    display: block;
    position: absolute;
    left: calc(var(--mb-button-size) * ((1 - var(--mb-bar-width)) / 2));
    width: calc(var(--mb-button-size) * var(--mb-bar-width));
    height: var(--mb-bar-height);
    //border-radius: calc(var(--mb-bar-height) / 2);
    background: currentColor;
    color: inherit;
    opacity: 1;
}

.main-header__hamburger b:nth-of-type(1) {
    bottom: calc(50% + var(--mb-bar-spacing));
    transition: bottom .2s ease, transform .2s ease, width .2s ease;
}

.main-header__hamburger b:nth-of-type(2) {
    top: calc(50% - (var(--mb-bar-height) / 2));
    transition: opacity .2s ease;
}

.main-header__hamburger b:nth-of-type(3) {
    top: calc(50% + var(--mb-bar-spacing));
    transition: top .2s ease, transform .2s ease, width .2s ease;
}

.mm-wrapper_opened .main-header__hamburger b:nth-of-type(1),
.show-internal-nav .main-header__hamburger b:nth-of-type(1) {
    bottom: calc(50% - (var(--mb-bar-height) / 2));
    transform: rotate(45deg);
}

.mm-wrapper_opened .main-header__hamburger b:nth-of-type(2),
.show-internal-nav .main-header__hamburger b:nth-of-type(2) {
    opacity: 0;
}

.mm-wrapper_opened .main-header__hamburger b:nth-of-type(3),
.show-internal-nav .main-header__hamburger b:nth-of-type(3) {
    top: calc(50% - (var(--mb-bar-height) / 2));
    transform: rotate(-45deg);
}

.main-header__hamburger b:nth-of-type(1) {
    transition-delay: .2s, 0s;
}

.main-header__hamburger b:nth-of-type(2) {
    transition-duration: 0s;
    transition-delay: .2s;
}

.main-header__hamburger b:nth-of-type(3) {
    transition-delay: .2s, 0s;
}

.mm-wrapper_opened .main-header__hamburger b:nth-of-type(1),
.show-internal-nav .main-header__hamburger b:nth-of-type(1) {
    transform: rotate(135deg);
    transition-delay: calc(var(--mb-animate-timeout) + 0s), calc(var(--mb-animate-timeout) + .2s);
}

.mm-wrapper_opened .main-header__hamburger b:nth-of-type(2),
.show-internal-nav .main-header__hamburger b:nth-of-type(2) {
    transition-delay: calc(var(--mb-animate-timeout) + 0s);
}

.mm-wrapper_opened .main-header__hamburger b:nth-of-type(3),
.show-internal-nav .main-header__hamburger b:nth-of-type(3) {
    transform: rotate(225deg);
    transition-delay: calc(var(--mb-animate-timeout) + 0s), calc(var(--mb-animate-timeout) + .2s);
}
/***** End hamburger styles *****/

.main-header__search-btn-mobile {
    display: none;
    width: 50px;
    height: 50px;
    padding: 0;
    background: 0 0;
    border: none;

    &:focus {
        outline: none;
    }
}

.main-header__language-switch {
    margin: 0 0 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-header__hamburger {
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .main-header__top {
        padding: 15px 0;
    }

    .main-header__desc {
        width: auto;
    }

    .main-header__search {
        display: none;
    }

    .main-header__hamburger {
        margin-right: 15px;
    }

    .main-header__search-btn-mobile {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .main-header__left {
        margin-right: 0;
    }

    .main-header__desc {
        display: none;
    }
}
