.main-footer {
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 12px;
    color: #fff;
    background-color: $color-main;
}

.main-footer__top {
    display: flex;
    padding-bottom: 35px;
    border-bottom: 1px solid #545B69;
}

.main-footer__left {
    flex-shrink: 0;
    margin-right: 45px;
}

.main-footer__logo {
    display: inline-block;
    margin-bottom: 22px;
    vertical-align: middle;
}

.main-footer__schedule {
    flex-shrink: 0;
    margin: 0;
    width: 140px;
    color: $color-main--light;
}

.main-footer__central {

}

.main-footer__nav {
    @include reset-list;

    flex-grow: 1;
    column-count: 4;
    column-gap: 30px;
}

.main-footer__nav li {
    line-height: 1.15em;

    &:nth-child(n + 2) {
        margin-top: 10px;
    }
}

.main-footer__nav a {
    color: #fff;

    &:hover,
    &:focus {
        color: $color-main--light;
    }
}

.main-footer__right {
    flex-shrink: 0;
    margin-left: 60px;
}

.main-footer__button {
    min-width: 185px;
    margin-bottom: 30px;
    font-size: 14px;
}

.main-footer__social {
    justify-content: flex-end;
    margin: 0;
}

.main-footer__bottom {
    padding-top: 27px;
    text-align: center;
}

.main-footer__copyright {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-main--light;
}

.main-footer__privacy-policy {
    color: #fff;

    &:hover,
    &:focus {
        color: $color-main--light;
    }
}

@media screen and (max-width: 1200px) {
    .main-footer__nav {
        column-count: 3;
        column-gap: 15px;
    }
}

@media screen and (max-width: 992px) {
    .main-footer__left {
        margin-right: 30px;
    }

    .main-footer__nav {
        column-count: 2;
    }

    .main-footer__right {
        margin-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .main-footer__top {
        display: block;
    }

    .main-footer__left {
        display: flex;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .main-footer__logo {
        margin-right: 15px;
        margin-bottom: 0;
    }

    .main-footer__central {
        margin-bottom: 30px;
    }

    .main-footer__nav {
        column-count: 3;
    }

    .main-footer__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .main-footer__social {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .main-footer__nav {
        column-count: 2;
    }
}