@media screen and (min-width: 1200px) {
    .main-nav {
        display: flex;
    }

    .main-nav__list {
        @include reset-list;

        display: flex;
    }

    .main-nav__list > li {
        position: relative;

        &:hover > a,
        &:focus-within > a {
            color: #fff;
            background-color: $color-secondary;
        }

        &:hover > .sub-menu,
        &:focus-within > .sub-menu {
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
            transition: transform 300ms,
            opacity 200ms;
        }
    }

    .main-nav__list > li > a {
        display: block;
        padding: 18px 25px;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        color: $color-main;
        transition: all .15s ease-in;
    }

    .main-nav__list > .current-menu-item > a,
    .main-nav__list > .current-menu-ancestor > a {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: $color-main;
            transition: all .15s ease-in;
        }
    }

    .main-nav__list > li:hover > a::after,
    .main-nav__list > li:focus-within > a::after {
        background-color: transparent;
    }

    .main-nav__list > .menu-item-has-children > a {
        position: relative;
        padding-right: 35px;

        & svg {
            position: absolute;
            top: 50%;
            right: 17px;
            width: 10px;
            height: 7px;
            transform: translate(0, -50%);
        }
    }

    /* 2rd level menu */
    .main-nav__list > li > .sub-menu {
        @include reset-list;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 3;
        width: 300px;
        padding: 10px 0;
        background-color: $color-secondary;
        box-shadow: 4px 4px 17px rgba(38, 52, 27, .22);
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0.9);
        transform-origin: 50% 0;
        transition: transform 0ms 300ms,
        opacity 300ms,
        visibility 0ms 300ms;
    }

    .main-nav__list > li > .sub-menu > li {
        position: relative;

        &:hover > a,
        &:focus-within > a {
            background-color: #2a8db2;
        }

        &:hover .sub-menu,
        &:focus-within .sub-menu {
            opacity: 1;
            visibility: visible;
        }
    }
    
    .main-nav__list > li > .sub-menu > li > a {
        display: block;
        padding: 10px 20px;
        font-size: 16px;
        line-height: 1.15;
        color: #fff;
    }

    .main-nav__list > li > .sub-menu > li.menu-item-has-children > a {
        position: relative;
        padding-right: 35px;
        
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 15px;
            width: 6px;
            height: 10px;
            background: url("img/bg/angle-right.svg") no-repeat 0 0;
            background-size: contain;
            transform: translate(0, -50%);
        }
    }
    
    .main-nav__list > li > .sub-menu > li.current-menu-item > a,
    .main-nav__list > li > .sub-menu > li.current-menu-parent > a {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
        }
    }

    /* 3rd level menu */
    .main-nav__list .sub-menu .sub-menu {
        @include reset-list;

        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1;
        width: 300px;
        padding: 14px 0;
        background-color: $color-secondary;
        box-shadow: 4px 4px 17px rgba(38, 52, 27, 0.22);
        opacity: 0;
        visibility: hidden;
    }

    .main-nav__list .sub-menu .sub-menu > li > a {
        display: block;
        padding: 5px 15px 5px 35px;
        font-size: 14px;
        line-height: 1.25em;
        color: #fff;

        &:hover,
        &:focus {
            background-color: #2a8db2;
        }
    }

    .main-nav__list .sub-menu .sub-menu > li.current-menu-item > a {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
        }
    }
}

.mm-wrapper__blocker {
    z-index: 6;
}

@media screen and (max-width: 1200px) {
    .main-nav .current-menu-ancestor > a:first-child,
    .main-nav .current-menu-parent > a:first-child,
    .main-nav .current-menu-item > a:first-child {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: $color-secondary;
        }
    }
}
