.map {
    position: relative;
    z-index: 1;
    overflow-y: hidden;
}

.map__box {
    position: relative;
    z-index: 1;
    height: 500px;
}

@media screen and (max-width: 992px) {
    .map {
        display: flex;
        flex-direction: column;
    }

    .map__box {
        order: 1;
    }
}
