.masonry {

}

.masonry__item {
    position: relative;
    width: 204px;
    margin-bottom: 10px;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5) url("img/bg/magnifying-glass.svg") no-repeat center;
        background-size: 30px 30px;
        opacity: 0;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        transition-property: opacity, transform, filter;
        pointer-events: none;
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover .masonry__img {
        transform: scale(1.1) rotate(3deg);
    }
}

.masonry__link {
    position: relative;
}

.masonry__img {
    width: 100%;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: opacity, transform, filter;
}

@media screen and (max-width: 1200px) {
    .masonry__item {
        width: 217px;
    }
}

@media screen and (max-width: 992px) {
    .masonry__item {
        width: 213px;
    }
}

@media screen and (max-width: 768px) {
    .masonry__item {
        width: 235px;
    }
}

@media screen and (max-width: 576px) {
    .masonry__item {
        width: calc(50% - 5px);
    }
}

@media screen and (max-width: 400px) {
    .masonry__item {
        width: 100%;
    }
}