.offer-inner {
    position: relative;
    display: flex;
    min-height: 235px;
    padding: 30px 0;
    background-color: $color-main--light;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(27, 48, 90, .5);
        pointer-events: none;
    }
}

.offer-inner .container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

.offer-inner__title {
    flex-grow: 1;
    margin: 0 80px 0 0;
    font-weight: 700;
    font-size: 37px;
    line-height: 1.15;
    text-transform: uppercase;
    color: #fff;
}

.offer-inner__img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 415px;
    height: 175px;
    margin: 0;

    &::after {
        content: "";
        position: absolute;
        top: -50vh;
        bottom: -50vh;
        left: 50%;
        z-index: 1;
        width: 225px;
        background-color: rgba(255, 255, 255, .72);
        transform: translate(-50%, 0) skewX(-45deg);
    }
}

.offer-inner__img {
    position: relative;
    z-index: 2;
    max-height: 100%;
}

@media screen and (max-width: 1200px) {
    .offer-inner__img-box {

        &::after {
            display: none;
        }
    }

    .offer-inner__img-box{
        display: none;
    }
}