.offer-second-type {
    display: flex;
    align-items: center;
    min-height: 230px;
    padding: 50px 0;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    &--about {
        background-color: $color-secondary;
        background-image: url("img/bg/offer-home-slide-1.jpg");
    }
}

.offer-second-type__text h1 {
    font-weight: 700;
    font-size: 37px;
    line-height: 1.25em;
    text-transform: uppercase;
}

.offer-second-type__text *:first-child {
    margin-top: 0;
}

.offer-second-type__text *:last-child {
    margin-bottom: 0;
}

