.partners {
    position: relative;
    z-index: 2;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.partners__title {
    margin-top: 0;
    margin-bottom: 40px;
}
