.product-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.product-gallery__item {
    margin-right: 15px;

    .product-gallery--in-row-4 & {
        width: 261px;

        &:nth-child(4n) {
            margin-right: 0;
        }

        &:nth-child(n + 5) {
            margin-top: 70px;
        }
    }

    .product-gallery--in-row-3 & {
        width: 353px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(n + 4) {
            margin-top: 70px;
        }
    }

    .product-gallery--in-row-2 & {
        width: calc(50% - 8px);

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(n + 3) {
            margin-top: 70px;
        }
    }

    //.product-gallery--in-row-1 & {
    //    width: auto;
    //}

    .product-gallery--combination & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(50% - 50px);
        margin-right: 100px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.product-gallery__img-box {
    display: flex;
    align-items: center;
    height: 200px;
    margin-top: 0;
    margin-bottom: 25px;

    .product-gallery--combination & {
        height: auto;
    }

    .product-gallery--in-row-1 & {
        height: auto;
    }
}

.product-gallery__img {
    max-height: 100%;
    margin: 0 auto;
}

.product-gallery__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    color: #fff;
    background-color: $color-main;
}