.product-card {
    padding-top: 90px;
}

.product-card__title {
    margin-bottom: 60px;
}

.product-card__head {
    margin-bottom: 85px;
}

.product-card__gallery {
    margin: 0 0 85px 0;
}

.product-card__table {
    margin-bottom: 50px;
}

.product-card__table table {

}

.product-card__colors {
    margin-bottom: 85px;
}

.product-card__styling-examples {
    margin-bottom: 85px;
}

.product-card .container > *:first-child {
    margin-top: 0;
}

.product-card .container > *:last-child {
    margin-bottom: 0;
}

