.product-table {

}

.product-table table {
    width: 100%;
    table-layout: fixed;
    font-size: 13px;
    line-height: 1.25em;
    border-collapse: collapse;
    border: 1px solid $color-main;
}

.product-table caption {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.25em;
    text-transform: uppercase;
    text-align: left;
    color: $color-main;
}

.product-table tr {

    &:nth-child(even) {
        background-color: $color-main--lightest;
    }
}

.product-table th {
    padding: 11px 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: $color-main;
    border-right: 1px solid #fff;

    &:last-child {
        border-right: none;
    }
}

.product-table td {
    padding: 13px 10px;
    text-align: center;
    border: 1px solid $color-main;

    &:first-child {
        font-size: 14px;
        line-height: 1.25em;
        text-align: left;
    }
}

.product-table strong {
    font-weight: 700;
    text-transform: uppercase;
}

