.quantity-table {
    display: flex;
}

.quantity-table table {
    line-height: 1.25em;
    border-collapse: collapse;
}

.quantity-table tr {
    
}

.quantity-table td {
    padding: 2px 0;

    &:first-child {
        padding-right: 30px;
        text-transform: uppercase;
    }

    &:last-child {
        min-width: 70px;
    }
}

.quantity-table strong {
    font-weight: 700;
}