.search {
    position: relative;
    width: 465px;

    &--mobile {
        width: 100%;
    }
}

.search__field {
    padding: 10px 48px 10px 10px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #667490;
    appearance: none;

    &::placeholder {
        color: #667490;
    }

    &:focus {
        box-shadow: 0 0 7px rgba(102, 116, 144, .9);
    }

    &::-ms-clear {
        display: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }

    .search--mobile & {
        color: #000;
        background-color: #f4f4f4;
        border-color: transparent;

        &:focus {
            box-shadow: none;
        }
    }
}

.search__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    height: 100%;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    transition: all .15s ease-in-out;

    .search--desktop & {
        background-image: url("img/bg/magnifying-glass.svg");
    }

    .search--mobile & {
        background-image: url("img/bg/magnifying-glass--black.svg");
    }

    &:hover,
    &:focus {
        opacity: .9;
    }
}

@media screen and (max-width: 1200px) {
    .search {

        &--desktop {
            width: 380px;
        }
    }
}
