.slider-offer-home {

}

.slider-offer-home__slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:focus {
        outline: none;
    }
}

.slider-offer-home__slide-box {
    display: flex;
    align-items: flex-end;
    min-height: 590px;
    padding-top: 70px;
    padding-bottom: 210px;
}

.slider-offer-home__text {
    width: 670px;
    //font-family: "Product Sans", Tahoma, sans-serif;
    color: #fff;
}

.slider-offer-home__text strong {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 37px;
    line-height: 1.15em;
}

.slider-offer-home__text p {
    margin: 14px 0;
    line-height: 1.3571em;
    color: rgba(255, 255, 255, .75);
}

.slider-offer-home__text *:first-child {
    margin-top: 0;
}

.slider-offer-home__text *:last-child {
    margin-bottom: 0;
}

.slider-offer-home__arrow {
    position: absolute;
    bottom: 71px;
    z-index: 1;
    padding: 15px;
    background: 0 0;
    border: none;
    cursor: pointer;
    opacity: .5;
    transition: all .2s ease-in;

    &--prev {
        left: calc(50vw - var(--scrollbar-width)/2 - 545px);

        &:hover {
            transform: translate(-10px, 0);
        }
    }

    &--next {
        left: calc(50vw - var(--scrollbar-width)/2 - 335px);

        &:hover {
            transform: translate(10px, 0);
        }
    }

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 1;
    }
}

.slider-offer-home__counter {
    position: absolute;
    left: calc(50vw - var(--scrollbar-width)/2 - 455px);
    bottom: 70px;
}

.slider-offer-home__counter span {
    &:nth-child(1) {
        font-size: 33px;
        color: #fff;
    }

    &:nth-child(2) {
        margin: 0 4px;
        font-size: 26px;
        color: rgba(255, 255, 255, .5);
    }

    &:nth-child(3) {
        font-size: 26px;
        color: rgba(255, 255, 255, .5);
    }
}

@media screen and (max-width: 1200px) {
    .slider-offer-home__slide-box {
        align-items: center;
        min-height: 450px;
        padding-bottom: 100px;
    }

    .slider-offer-home__arrow {
        bottom: 31px;

        &--prev {
            left: calc(50vw - var(--scrollbar-width)/2 - 465px);
        }

        &--next {
            left: calc(50vw - var(--scrollbar-width)/2 - 260px);
        }
    }

    .slider-offer-home__counter {
        left: calc(50vw - var(--scrollbar-width)/2 - 380px);
        bottom: 30px;
    }
}
