.slider-partners {
    padding: 70px 50px;
    background: #e9eaee url("img/bg/partners--white.jpg") no-repeat center;
    background-size: cover;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .14);
}

.slider-partners__item {
    display: flex !important;
    align-items: center;
    height: 125px;
    padding: 0 20px;
}

.slider-partners__img-box {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
}

.slider-partners .slick-track {
    display: flex !important;
}

.slider-partners .slick-slide {
    display: flex !important;
    align-items: center;
    height: inherit !important;
    justify-content: center;

    &:focus {
        outline: none;
    }
}

.slider-partners__img {
    max-height: 100%;
}

.slider-partners__arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 58px;
    height: 58px;
    padding: 0;
    background-color: $color-secondary;
    border: none;
    cursor: pointer;
    transform: translate(0, -50%);
    transition: all .15s ease-in;

    &--prev {
        left: -30px;

        &:hover svg {
            transform: translate(-5px, 0);
        }
    }

    &--next {
        right: -30px;

        &:hover svg {
            transform: translate(5px, 0);
        }
    }

    &:focus {
        outline: none;
    }
}

.slider-partners__arrow svg {
    transition: all .15s ease-in;
}

@media screen and (max-width: 576px) {
    .slider-partners__arrow {

        &--prev {
            left: -15px;
        }

        &--next {
            right: -15px;
        }
    }
}
