.social-links {
    display: flex;
    padding: 0;
    list-style: none;
}

.social-links__item {
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }
}

.social-links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: $color-main--light;
    border-radius: 50%;
    background-repeat: no-repeat;
    transition: all .6s ease;

    &:hover,
    &:focus {
        transform: rotate(360deg);
    }
}