.styling-examples-box {

}

.styling-examples-box__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
}

.styling-examples-box__item {
    width: calc(50% - 40px);
    margin-right: 80px;

    &:nth-child(2n) {
        margin-right: 0;
    }

    &:nth-child(n + 3) {
        margin-top: 35px;
    }

    .styling-examples-box--in-row-1 & {
        width: 100%;
        margin-right: 0;

        &:nth-child(n + 2) {
            margin-top: 35px;
        }
    }
}

.styling-examples-box__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    color: #fff;
    background-color: $color-main;
}

.styling-examples-box__img {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);

    .styling-examples-box--no-shadow & {
        box-shadow: none;
    }
}

.styling-examples-box__informer {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.25em;
    text-transform: uppercase;
}