.triggers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 70px 32px 350px;
    list-style: none;
    border: 3px solid #E2E2E2;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 298px;
        height: 100%;
        background: url("img/bg/about.jpg") no-repeat center;
        background-size: cover;
    }
}

.triggers__item {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.triggers__number {
    display: block;
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    color: $color-secondary;
}

.triggers__text {
    display: block;
    font-size: 12px;

    &--upper {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 992px) {
    .triggers {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 576px) {
    .triggers {
        display: block;

        &::before {
            display: none;
        }
    }

    .triggers__item {
        margin-bottom: 20px;

        &:nth-child(2) {
            margin-bottom: 42px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}